chumpy 
scipy 
munkres 
tqdm 
cython 
fsspec 
yapf==0.40.1 
matplotlib 
packaging 
omegaconf 
ipdb 
ftfy 
regex 
json_tricks 
terminaltables 
modelindex 
prettytable
albumentations
huggingface-hub==0.22.1